# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
# Portions Copyright (C) Philipp Kewisch
---
name: "Legacy Checkin"
on:
  push:
    branches:
      - legacy

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: "npm ci"
        run: npm ci

      - name: "Commit lint"
        run: npx commitlint --from $GITHUB_SHA^

      - name: "ESLint"
        run: npx eslint --ext jsm --ext js .

  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Build"
        run: npm run build

      - name: "Upload"
        uses: actions/upload-artifact@v4
        with:
          name: gdata-provider.xpi
          path: dist/gdata-provider.xpi

# Tests are currently broken, see head of test_gdata_provider.js
#  test:
#    name: "Tests"
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - name: "Checkout"
#        uses: actions/checkout@v4
#
#      - name: "Download Build Artifact"
#        uses: actions/download-artifact@v4
#        with:
#          name: gdata-provider.xpi
#          path: dist
#
#      - name: "Run Tests"
#        uses: kewisch/action-thunderbird-tests@v1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          channel: nightly
#          xpcshell: test/xpcshell/xpcshell.ini
